.vscode/**
.idea/**
*.iml
src/**
test/**
out-tests/**
docs/**
node_modules/**
tsconfig.json
tsconfig.test.json
eslint.config.mjs
.eslintcache
.prettierrc.json
.prettierignore
.editorconfig
.gitignore
.study-data/**
**/*.map
*.md
!README.md
!CHANGELOG.md
